/* Style the navbar */
.navbar {
  margin-top: 0.5px;
  /* background-color: #333333f5; */
  background-color: #29272df5;
  /* background-color: rgba(255, 255, 255, 0.951); */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the left section */
.left-section ul {
  padding-top: 5px;
  list-style: none;
  display: flex;
}

.left-section li {
  margin-right: 20px;
  text-decoration: none;
}

.left-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.left-section a:hover {
  color: #f5a623;
}

/* Style the right section */
.right-section ul {
  padding-top: 5px;
  list-style: none;
  display: flex;
  align-items: center;
}

.right-section li {
  margin-right: 20px;
}

.right-section a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.right-section a:hover {
  color: #f5a623;
}

.right-section .search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.right-section input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  border: none;
}

.right-section button {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.right-section button:hover {
  background-color: #e59400;
}
